*{
    margin:0;
    padding:0;
}

.cabecalho{
    padding:15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(179, 151, 206);
}
.cartao{
    width:260px;
    height:200px;
}
.cartao-imagem{
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(93, 57, 126);
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cabecalho-link{
    color: rgb(223, 208, 236);
    text-decoration: none;
}
h1{
    color: blanchedalmond;
    font-size: 24px;
}
footer{ 
    background-color: blueviolet;
    padding: 15px 25px;
    color: rgb(76, 76, 236);
}
